<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<style>
body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  

  height: auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

</style>
</head>
<body>

<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Service</span>
</nav>

<div class="bg-img">
  <div class="container"><br>
  <h1 class="col-lg-12 text-center" style="color:Black;">welcome</h1></div>
<div class="container justify-center pt-4 col-lg-4 col-md-12">
  <div class="card">
  {% if error %}
  <script> alert('{{ error }}')</script>
  {% endif %}
  <div class="card-header">
    <h2 class="text-center">Login</h2>
  </div>
  <div class="card-body">
    {{ username }}
  <form action="login" method="POST" name='form'>
	{% csrf_token %}
	<input type="text" class="form-control form-control-lg" id="id_UserName" name="UserName" placeholder="Enter Company" required><br><br>
  <input type="password" class="form-control form-control-lg" id="id_Password" name="Password" placeholder="Enter Password" required><br><br>
  <div class="row">
  
<button type="submit" class="btn btn-lg col-lg-12" style="background-color: orange;"><h3>Submit</h3></button>	</form>
  </div>
  </div>
</div>
</div>
</div>
</body>